# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

########################
## Environnement
########################
 
# Windows image file caches
Thumbs.db
 
# Folder config file
Desktop.ini
 
# Mac crap
.DS_Store
 
/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.DS_Store
Thumbs.db

/app/storage
/public/.htaccess
