########################
## Project
########################

[Rr]obots.txt

########################
## Environnement
########################

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store

/app/storage
/public/.htaccess
/bootstrap/compiled.php
/vendor

composer.phar
composer.lock
.DS_Store
Thumbs.db